@import url("https://fonts.cdnfonts.com/css/clash-display");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-appearance: none;
}
.range-max::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #000;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.range-min::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  border: solid black 2px;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.range-max::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background: #000;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.range-min::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  border: solid black 2px;
  background: #fff;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
